@{
    ViewBag.Title = "About";
}
<div class="content-wrapper" style="min-height: 388px;">
   
    <!-- Main content -->
    <section class="content">

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">About us </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <p>
                    <b>PI</b>
                    <ul>
                        <li><a onclick="target='_blank'" href="http://research.sethi.org/ricky/">Dr. Ricky J. Sethi PhD</a> </li>
                    </ul>
                </p>
                <p>
                    <b>Lead developer</b>
                    <ul>
                        <li>RaghuRam Rangaraju </li>
                    </ul>
                </p>
                <p>
                    <b>Student Intern</b>
                    <ul>
                        <li>Pragnyasree Tangutoori</li>
                    </ul>
                </p>
           
            </div>
            <!-- /.box-body -->
        </div>
        <!-- END TYPOGRAPHY -->
    </section>
    <!-- /.content -->
</div>


<script type="text/javascript">
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + 'px';
                }
            }
        }
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>

